.app-container {
  display: flex;
}

.org-details {
  display: flex;
  //   justify-content: center;
  align-items: center;
  margin-left: 1.7rem;
  gap: 2.5rem;
  // background: #F6F7F9;
  background: rgba(246, 247, 249, 0.713);
  padding: 0.8rem;

  p,
  span {
    color: rgba(45, 65, 111, 1);
    font-size: 1.2rem;
  }

  span {
    font-weight: bold;
  }

  &__middle {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.searcharea__container {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.userdetails {
  display: flex;
  align-items: center;
  gap: 2rem;

  &__left {
    display: flex;
    align-items: center;
    gap: 1rem;

    p,
    span {
      font-family: Gilroy;
      text-align: left;
    }
    p {
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      color: rgba(45, 65, 111, 1);
    }

    span {
      color: rgba(129, 141, 169, 1);
      font-family: Gilroy;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
    }
  }
}

.emptypagecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  position: absolute;
  top: 50%;
  left: 50%;
  align-items: center;

  &__bottom {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.tabs {
  margin: 0 auto;
  position: relative;
  //  height: 3rem;
  margin-top: 2rem;
  border: 0px 0px 1.5px 0px;
  gap: 12px;

  & .total {
    font-size: 1.3rem;
    padding-bottom: 1rem;
  }

  ul {
    display: flex;
    border-bottom: 1.5px solid #cccfce3d;
    gap: 4rem;

    li {
      // width: 111px ;
      height: 30px;
      display: flex;
      // padding: 0px 12px 20px 12px;
      border: 0px 0px 1.5px 0px;
      position: relative;
      color: #808785;
      cursor: pointer;
      transition: all 0.25s;

      &.active {
        color: #00100b;
        transition: all 0.25s;

        p {
          font-weight: bold;
        }
      }

      p {
        font-family: Matter;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        // letter-spacing: -0.025em;
        text-align: left;
        text-align: center;
      }
    }

    li.active::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      text-align: center;
      background: #00100b;
      justify-content: center;
    }
  }
}

.modal {
  //   display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1, 1, 1, 0.33);
  height: 100vh;
  position: fixed;
  overflow: scroll;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;

  &__container {
    background-color: white;
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;

    border-radius: 8px;
    padding-bottom: 1rem;
  }

  &.active {
    // display: initial;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &__head {
    width: 80%;
    margin: 0 auto;
  }
}

.row {
  display: grid;
  margin: 0 auto;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;

  &.no-grid {
    display: block;
  }
}

.button {
  &__cancel {
  }
}

.next-button,
.cancel-button {
  text-align: center;
  // width: 345.5px;
  height: 52px;
  padding: 16px;
  border-radius: 4px;
  gap: 8px;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
}

.cancel-button {
  border: 2px solid rgba(75, 170, 121, 1);
  // width: 345.5px;
  gap: 8px;
  color: green;
}

.next-button {
  background-color: green;
  color: white;
}
.back-button {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

.tabPlane {
  display: none;

  &.active {
    display: initial;
  }
}

.radio-row {
  display: flex;
  gap: 1rem;
  border: 1px solid rgba(229, 229, 229, 1);
  padding: 1.8rem;

  align-items: center;

  span {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.03em;
    text-align: left;
    color: rgba(45, 65, 111, 1);
  }
}

//
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 20px;
  left: 0px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  p {
    font-size: 2rem;
    text-align: center;
    padding: 2rem 1rem;
    color: rgba(87, 103, 140, 1);
    width: 246px;
    height: 58px;
    top: 131px;
    left: 94px;
  }

  img {
    width: 6.4rem;
  }

  button {
    width: 80%;
  }
}

.fieldError {
  color: red;
  background: rgba(253, 246, 246, 1);
  height: 27px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

select {
  padding: 1.5rem;
  padding: 16px;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(218, 218, 218, 1);
}

.action-modal {
  display: flex;
  gap: 1.5rem;

  img {
    cursor: pointer;
  }
}

.isLoading {
  text-align: center;
  font-size: 1.4rem;
}

input[type="radio"] {
  accent-color: green;
}

.loader {
  height: 15px;
  aspect-ratio: 5;
  -webkit-mask: linear-gradient(90deg, #0000, #000 20% 80%, #0000);
  background: radial-gradient(closest-side at 37.5% 50%, #000 94%, #0000) 0 /
    calc(80% / 3) 100%;
  animation: l48 0.75s infinite linear;
}
@keyframes l48 {
  100% {
    background-position: 36.36%;
  }
}
